$font-stack:    Helvetica, sans-serif;
$primary-color: #e21515;

body{
  font: 100% $font-stack;
  color: $primary-color;
  width: 800px;
  height: 600px;
}

#container
{
  background-color: yellow;
  position: absolute;
  width: 100%;
  height: 100%;
}


 